/*** Site Colors ***

pale-grey: #fafbfc
pale-grey-two: #dbe2e8
dark: #2e3d49
bluegrey: #7d97ad
aquamarine: #02ccba

*/
@import 'default.css';
@import 'navbar.css';
@import 'cards.css';
@import 'media_queries.css';
@import 'footer.css';

.container {
    margin: auto;
    max-width: 1300px;
}

/*** Header Styling ***/
.page-header {
    background-image: url('../img/your-name-banner.jpg');
    /* background-position: 50% 75%; */
    background-size: cover;
    text-align: center;
    padding: 1em;
    margin-bottom: 2rem;
    min-height: 40vh;
}

.read-more {
    color: #02ccba;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.read-more::after {
    content: '►';
    position: relative;
    left: 7px;
    font-size: 80%;
    top: -1px;
}

/*** Sidebar Styling ***/
aside {
    border-top: 2px solid #dbe2e8;
    margin-top: 2em;
    padding-top: 2em;
}

.social-link {
    display: inline-block;
    margin-right: 0.75em;
}

.author-name {
    margin-bottom: 0px;
}

.author-company {
    margin-top: 2px;
}

.other-posts-list li{
    margin-bottom: 10px;
}