/*** Footer Styling ***/
footer {
    margin-top: 4em;
    text-align: center;
}

.footer-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: auto;
}
     
.footer-card {
    background: #fafbfc;  
}

.footer-list {
    list-style-type: none;
}

.footer-list-item {
    display: inline;
    padding: 10px;
}